body{
    /* background: #fc00ff;  
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  
    background: linear-gradient(to right, #00dbde, #fc00ff); */
    background-color: rgb(229, 240, 245);
}
.reset-card{
    width: 40%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    border-radius: 10px;
}
.reset-card h1{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    color: #0077ff;
}
.reset-underline{
    content: "";
    width: 80px;
    height: 4px;
    background-color: #0077ff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-bottom: 15px;
}
.reset-card p{
    font-family: sans-serif;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
}
#pass{
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(94, 94, 94);
    padding: 10px;
    box-sizing: border-box;
}
#reset-submit{
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    background-color: #0077ff;
    color: white;
    border: 2px solid #0077ff;
    font-size:18px;
    cursor: pointer;
}
#reset-submit:hover{
    background-color: #0059ff;
    border: 2px solid #0059ff;
}
@media screen and (max-width:975px){
    .reset-card{
        width: 60%;
    }
}
@media screen and (max-width:650px){
    .reset-card{
        width: 75%;
    }
}
@media screen and (max-width:520px){
    .reset-card h1{
        font-size: 25px;
    }
}
@media screen and (max-width:400px){
    .reset-card p{
        font-size: 13px;
    }
    .reset-card h1{
        font-size: 23px;
    }
    #submit-reset{
        font-size: 15px;
    }
}